/* BOOTSTRAP OVERRIDES */

// Global styles for font
* {
  font-family: 'Raleway', sans-serif;
  font-weight:200;
}
// Adds space so that 'yeild' content sits below NAV
body {
  padding-top: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

// ========== NAV SECTION START ===========
.navbar {
  background: #dc3545;
  border-bottom: none;
  padding-bottom: 5px;
  // below makes NAV bar links white and bold
  .nav-link a, .nav-link {
    color: white !important;
    font-weight: bold !important;
  }
}
// LOGO in NAV
.navbar-brand {
  padding-top:5px;
  padding-bottom:5px;
  width: 75px;
}
// ========== NAV SECTION END ===========

h1 {
  font-size: 4.0em;
  margin-top:40px;
  font-weight: 200;
}

.jumbotron-fluid {
  border-radius:0px !important;
}

.btn {
  text-transform: uppercase;
  font-weight:bold;
  margin-top:30px;
}

.red {
  background-color: #dc3545;
  color: #fff !important;

  h1,h2,h3,h4,h5 {
    color: #fff !important;
  }
  a {
    color: #fff !important;
  }
  .btn-primary {
    background-color: #fff;
    color: #dc3545 !important;
  }
}

.white {
  background-color: #fff;
}

.area {
  padding-top:50px;
  padding-bottom:50px;
}

#stories {
  .stories_image {
    width:100px;
    height:100px;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
  }
}

footer {
  text-align: center;
}
